<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>ProjectTIW-RIA</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/db_money_transfer?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>projectTIW</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>LoginChecker</filter-name>
		<filter-class>it.polimi.tiw.ProjectTIWRIA.filters.LoginFilter</filter-class>
	</filter>
	
	<filter-mapping> 
    <filter-name>LoginChecker</filter-name> 
    <url-pattern>/GetAllAccounts</url-pattern> 
    <url-pattern>/AccountDetails</url-pattern> 
    <url-pattern>/Logout</url-pattern> 
    <url-pattern>/CreateTransfer</url-pattern>
    <url-pattern>/GetAddressBook</url-pattern>
    <url-pattern>/AddAddressBook</url-pattern>
 </filter-mapping>
</web-app>